<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cattsoft.baseplatform.func.sm.persistence.UnitMapper">
    <!-- Oracle分页查询 -->
	<sql id="pagingFooter"> limit ${pagingInfo.startIdx-1},#{pagingInfo.pageRows}</sql>
	<sql id="countingHeader">select count(*) from(</sql>
	<sql id="countingFooter">) t</sql>
	
	<!--单位集合数据 -->
    <resultMap id="unitList" type="Unit">
		<id property="unitId" column="UNIT_ID" />
		<result property="unitCode" column="UNIT_CODE" />
		<result property="unitName" column="UNIT_NAME" />
		<result property="unitType" column="UNIT_TYPE" />
		<result property="unitOrder" column="UNIT_ORDER" />
		<result property="standardFlag" column="STANDARD_FLAG" />
		<result property="convertRate" column="CONVERT_RATE" />
	</resultMap>
	
    <!-- 查询所有单位-->
    <select id="selectAllUnit" resultMap="unitList">
       SELECT UNIT_ID,
	       UNIT_CODE,
	       UNIT_NAME,
	       UNIT_TYPE,
	       UNIT_ORDER,
	       STANDARD_FLAG,
	       CONVERT_RATE
	  FROM UNIT
    </select>
    
    <select id="selectUnitsByType" resultMap="unitList">
       SELECT UNIT_ID,
	       UNIT_CODE,
	       UNIT_NAME,
	       UNIT_TYPE,
	       UNIT_ORDER,
	       STANDARD_FLAG,
	       CONVERT_RATE
	  FROM UNIT
	  WHERE UNIT_TYPE = #{unitType}
	  ORDER BY UNIT_ORDER
    </select>
</mapper>