.layout-icon1{
	background:url(../images/layout_1.png) no-repeat;
}
.layout-icon2{
	background:url(../images/layout_2_left_less.png) no-repeat;
}
.layout-icon3{
	background:url(../images/layout_2_right_less.png) no-repeat;
}
.layout-icon4{
	background:url(../images/layout_2_symmetric.png) no-repeat;
}