<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cattsoft.ny.base.persistence.ProduceThresholdSetupMapper">

	<!-- Oracle分页查询 -->
	<sql id="pagingHeader">SELECT * FROM(SELECT ROW_.*,ROWNUM ROWNUM_ FROM(</sql>
	<sql id="pagingFooter">) ROW_ WHERE ROWNUM &lt;= #{pagingInfo.endIdx}) WHERE ROWNUM_ &gt;= #{pagingInfo.startIdx}</sql>
	<sql id="countingHeader">SELECT COUNT(*) FROM(</sql>
	<sql id="countingFooter">)</sql>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.cattsoft.ny.base.entity.ProduceThresholdSetup">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT SYS_GUID() FROM DUAL
		</selectKey>
		<![CDATA[
			INSERT INTO produce_threshold_setup
		]]>
		<trim prefix="(" suffix=")" suffixOverrides="," >
			ID,
	    <if test="thresholdInfoId != null" >
			THRESHOLD_INFO_ID,
	    </if>
	    <if test="type != null" >
			TYPE,
	    </if>
	    <if test="typePram != null" >
			TYPE_PRAM,
	    </if>
	    <if test="name != null" >
			NAME,
	    </if>
	    <if test="upperLimit != null" >
			UPPER_LIMIT,
	    </if>
	    <if test="downLimit != null" >
			DOWN_LIMIT,
	    </if>
	    <if test="conditions != null" >
			CONDITIONS,
	    </if>
	    <if test="message != null" >
			MESSAGE,
	    </if>
	    <if test="createTime != null" >
			CREATE_TIME,
	    </if>
	    <if test="modifyTime != null" >
			MODIFY_TIME,
	    </if>
	  </trim>
	  <trim prefix="values (" suffix=")" suffixOverrides="," >
	  	#{id},
	    <if test="thresholdInfoId != null" >
			#{thresholdInfoId},
	    </if>
	    <if test="type != null" >
			#{type},
	    </if>
	    <if test="typePram != null" >
			#{typePram},
	    </if>
	    <if test="name != null" >
			#{name},
	    </if>
	    <if test="upperLimit != null" >
			#{upperLimit},
	    </if>
	    <if test="downLimit != null" >
			#{downLimit},
	    </if>
	    <if test="conditions != null" >
			#{conditions},
	    </if>
	    <if test="message != null" >
			#{message},
	    </if>
	    <if test="createTime != null" >
			#{createTime},
	    </if>
	    <if test="modifyTime != null" >
			#{modifyTime},
	    </if>
	  </trim>
	</insert>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="long">
		<![CDATA[
			DELETE FROM produce_threshold_setup
				WHERE ID = #{id}
		]]>
	</delete>

	<!-- 更新记录 -->
	<update id="update" parameterType="com.cattsoft.ny.base.entity.ProduceThresholdSetup">
	    <![CDATA[
			UPDATE produce_threshold_setup 
	    ]]>
		<set>
		<if test="thresholdInfoId != null">
    	<![CDATA[ THRESHOLD_INFO_ID = #{thresholdInfoId}, ]]>
		</if>
		<if test="type != null">
    	<![CDATA[ TYPE = #{type}, ]]>
		</if>
		<if test="typePram != null">
    	<![CDATA[ TYPE_PRAM = #{typePram}, ]]>
		</if>
		<if test="name != null">
    	<![CDATA[ NAME = #{name}, ]]>
		</if>
		<if test="upperLimit != null">
    	<![CDATA[ UPPER_LIMIT = #{upperLimit}, ]]>
		</if>
		<if test="downLimit != null">
    	<![CDATA[ DOWN_LIMIT = #{downLimit}, ]]>
		</if>
		<if test="conditions != null">
    	<![CDATA[ CONDITIONS = #{conditions}, ]]>
		</if>
		<if test="message != null">
    	<![CDATA[ MESSAGE = #{message}, ]]>
		</if>
		<if test="createTime != null">
    	<![CDATA[ CREATE_TIME = #{createTime}, ]]>
		</if>
		<if test="modifyTime != null">
    	<![CDATA[ MODIFY_TIME = #{modifyTime}, ]]>
		</if>
		</set>
	    <![CDATA[
	        WHERE ID = #{id}
	    ]]>
	</update>

	<!-- 根据主键查询记录 -->
	<select id="select" parameterType="long" resultMap="produceThresholdSetupList">
		<include refid="sqlSelectAll" />
		<![CDATA[
			WHERE ID = #{id}
		]]>
	</select>

	<!-- 条件查询所有记录 -->
	<select id="selectList" parameterType="com.cattsoft.ny.base.entity.querybean.ProduceThresholdSetupQB"
		resultMap="produceThresholdSetupList">
		<include refid="sqlSelectList" />
	</select>

	<!-- 分页条件查询所有记录 -->
	<select id="selectPage" parameterType="PagingQueryBean"
		resultMap="produceThresholdSetupList">
		<include refid="pagingHeader" />
		<include refid="sqlSelectPage" />
		<include refid="pagingFooter" />
	</select>
	<!-- 查询记录总数 -->
	<select id="selectCount" parameterType="PagingQueryBean"
		resultType="int">
		<include refid="countingHeader" />
		<include refid="sqlSelectPage" />
		<include refid="countingFooter" />
	</select>

	<resultMap id="produceThresholdSetupList" type="com.cattsoft.ny.base.entity.ProduceThresholdSetup">
		<result property="id" column="ID" />
		<result property="thresholdInfoId" column="THRESHOLD_INFO_ID" />
		<result property="type" column="TYPE" />
		<result property="typePram" column="TYPE_PRAM" />
		<result property="name" column="NAME" />
		<result property="upperLimit" column="UPPER_LIMIT" />
		<result property="downLimit" column="DOWN_LIMIT" />
		<result property="conditions" column="CONDITIONS" />
		<result property="message" column="MESSAGE" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="modifyTime" column="MODIFY_TIME" />
	</resultMap>

	<sql id="sqlSelectList">
		<include refid="sqlSelectAll" />
		<where>
			<if test="id != null">
			<![CDATA[ AND ID = #{id} ]]>
			</if>
			<if test="thresholdInfoId != null">
			<![CDATA[ AND THRESHOLD_INFO_ID = #{thresholdInfoId} ]]>
			</if>
			<if test="type != null">
			<![CDATA[ AND TYPE = #{type} ]]>
			</if>
			<if test="typePram != null">
			<![CDATA[ AND TYPE_PRAM = #{typePram} ]]>
			</if>
			<if test="name != null">
			<![CDATA[ AND NAME = #{name} ]]>
			</if>
			<if test="upperLimit != null">
			<![CDATA[ AND UPPER_LIMIT = #{upperLimit} ]]>
			</if>
			<if test="downLimit != null">
			<![CDATA[ AND DOWN_LIMIT = #{downLimit} ]]>
			</if>
			<if test="conditions != null">
			<![CDATA[ AND CONDITIONS = #{conditions} ]]>
			</if>
			<if test="message != null">
			<![CDATA[ AND MESSAGE = #{message} ]]>
			</if>
			<if test="createTime != null">
			<![CDATA[ AND CREATE_TIME = #{createTime} ]]>
			</if>
			<if test="modifyTime != null">
			<![CDATA[ AND MODIFY_TIME = #{modifyTime} ]]>
			</if>
		</where>
	</sql>
	
	<sql id="sqlSelectPage">
		<include refid="sqlSelectAll" />
		<where>	     				
	    <if test="queryBean.id != null">
		<![CDATA[ AND ID = #{queryBean.id} ]]>
		</if>
	    <if test="queryBean.thresholdInfoId != null">
		<![CDATA[ AND THRESHOLD_INFO_ID = #{queryBean.thresholdInfoId} ]]>
		</if>
	    <if test="queryBean.type != null">
		<![CDATA[ AND TYPE = #{queryBean.type} ]]>
		</if>
	    <if test="queryBean.typePram != null">
		<![CDATA[ AND TYPE_PRAM = #{queryBean.typePram} ]]>
		</if>
	    <if test="queryBean.name != null">
		<![CDATA[ AND NAME = #{queryBean.name} ]]>
		</if>
	    <if test="queryBean.upperLimit != null">
		<![CDATA[ AND UPPER_LIMIT = #{queryBean.upperLimit} ]]>
		</if>
	    <if test="queryBean.downLimit != null">
		<![CDATA[ AND DOWN_LIMIT = #{queryBean.downLimit} ]]>
		</if>
	    <if test="queryBean.conditions != null">
		<![CDATA[ AND CONDITIONS = #{queryBean.conditions} ]]>
		</if>
	    <if test="queryBean.message != null">
		<![CDATA[ AND MESSAGE = #{queryBean.message} ]]>
		</if>
	    <if test="queryBean.createTime != null">
		<![CDATA[ AND CREATE_TIME = #{queryBean.createTime} ]]>
		</if>
	    <if test="queryBean.modifyTime != null">
		<![CDATA[ AND MODIFY_TIME = #{queryBean.modifyTime} ]]>
		</if>
		</where>
	</sql>
	<sql id="sqlSelectAll">
			SELECT
				<include refid="sqlColumn" />
			FROM produce_threshold_setup 
	</sql>
	<sql id="sqlColumn">
		ID,THRESHOLD_INFO_ID,TYPE,TYPE_PRAM,NAME,UPPER_LIMIT,DOWN_LIMIT,CONDITIONS,MESSAGE,CREATE_TIME,MODIFY_TIME
	</sql>
</mapper>